[submodule "gateway"]
	path = gateway
	url = git@github.com:guodefu909/gateway.git
[submodule "eureka"]
	path = eureka
	url = git@github.com:guodefu909/eureka.git
[submodule "config"]
	path = config
	url = git@github.com:guodefu909/config.git
